@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-home">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-5">Welcome to NeverBored!</h1>
            <p class="lead text-center">This is a simple application to help you find interesting activities.</p>
            <div class="text-center mt-4">
                <a href="/ActivityView/Index" class="btn btn-primary btn-lg m-2 ">View Activities</a>
            </div>
        </div>
    </div>
</div>


